<form class="{{cssClass}}" autocomplete="off" style="overflow-y:scroll;">

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attrs">Attrs</a>
        <a class="item" data-tab="divine">Divine</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="notes">Notes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attrs" data-group="primary" data-tab="attrs">
            <div class="container col">

                <div class="container row sheet-header">
                    <div class="header-fields tabular">
                        <div>
                            <label for="name">Name:</label> <input id="name" name="name" type="text" value="{{actor.name}}"/>
                        </div>
                        <div>
                            <label for="description">Description:</label> <textarea id="description" name="data.description">{{data.description}}</textarea>
                        </div>
                        <div>
                            <label for="goal">Goals:</label> <textarea id="goal" name="data.goal">{{data.goal}}</textarea>
                        </div>
                        <div>
                            <label for="hdCurrent">HD:</label>
                            <input id="hdCurrent" type="text" name="data.hd.current" value="{{data.hd.current}}" data-dtype="Number" />
                        </div>
                        <div>
                            <label for="hdMax">Max:</label>
                            <input id="hdMax" type="text" name="data.hd.max" value="{{data.hd.max}}" data-dtype="Number" />
                        </div>
                        <div>
                            <label for="save">Save:</label>
                            <input id="save" type="text" name="data.save" value="{{data.save}}" data-dtype="Number" />
                        </div>
                        <div>
                            <label for="move">Move:</label>
                            <input id="move" type="text" name="data.move" value="{{data.move}}" />
                        </div>
                        <div>
                            <label for="morale">Morale:</label>
                            <input id="morale" type="text" name="data.morale" value="{{data.morale}}" data-dtype="Number" />
                        </div>
                        <div>
                            <label for="ac">AC:</label>
                            <input id="ac" type="text" name="data.ac" value="{{data.ac}}" data-dtype="Number" />
                        </div>
                        <div>
                            <label for="numActions">Actns:</label>
                            <input id="numActions" type="text" name="data.numActions" value="{{data.numActions}}" data-dtype="Number" />
                        </div>
                        <div>
                            <label for="numAttacks">Attks:</label>
                            <input id="numAttacks" type="text" name="data.numAttacks" value="{{data.numAttacks}}" data-dtype="Number" />
                        </div>
                        <div>
                            <label for="cardinality">Cardinality:</label>
                            <select id="cardinality" name="data.cardinality">
                                {{#select data.cardinality}}
                                    <option value="Individual">Individual</option>
                                    <option value="SmallMob">Small Mob</option>
                                    <option value="LargeMob">Large Mob</option>
                                    <option value="VastMob">Vast Mob</option>
                                {{/select}}
                            </select>
                        </div>
                    </div>
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                         width="100"/>
                </div>
            </div>

        </div>

        <div class="tab divine" data-group="primary" data-tab="divine">
            <div class="container col" style="padding-bottom: 16px;">
                <h2>Resources</h2>
                <table class="headered">
                    <thead>
                    <tr>
                        <td></td>
                        <td>Total</td>
                        <td>Committed</td>
                        <td>Free</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Effort</td>
                        <td><input type="text" data-dtype="Number" name="data.effort.total" value="{{data.effort.total}}" /></td>
                        <td>{{data.computed.effort.spent}}</td>
                        <td>{{data.computed.effort.available}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <div class="container row" style="margin-left: auto; margin-right: auto;font-size: 16px;">
                    <div>
                        <span style="padding-right: 4px;">At Will:</span>
                        <i class="fas fa-minus effortSpend" data-effort-category="atWill" data-effort-change="-1"></i>
                        {{data.effort.atWill}}
                        <i class="fas fa-plus effortSpend" data-effort-category="atWill" data-effort-change="1"></i>
                    </div>
                    <div style="margin-left: 32px;">
                        <span style="padding-right: 4px;">Scene:</span>
                        <i class="fas fa-minus effortSpend" data-effort-category="scene" data-effort-change="-1"></i>
                        {{data.effort.scene}}
                        <i class="fas fa-plus effortSpend" data-effort-category="scene" data-effort-change="1"></i>
                    </div>
                    <div style="margin-left: 32px;">
                        <span style="padding-right: 4px;">Day:</span>
                        <i class="fas fa-minus effortSpend" data-effort-category="day" data-effort-change="-1"></i>
                        {{data.effort.day}}
                        <i class="fas fa-plus effortSpend" data-effort-category="day" data-effort-change="1"></i>
                    </div>
                </div>
            </div>
            <div class="container row" style="margin-top: 24px;">
                <div class="container col" style="width:50%;">
                    <div class="container col">
                        <h2 style="display:flex;justify-content: space-between;">
                            <span>Words</span>
                            <i class="fas fa-plus itemAdder" data-item-type="boundWord"></i>
                        </h2>
                        <ol class="item-list">
                            {{#each actor.items as |item id|}}
                            {{#ifeq item.type "boundWord"}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <h4 class="item-name">{{item.name}}</h4>
                                <div class="item-controls">
                                    <a class="item-control item-chat" title="Chat Effect"><i class="fas fa-comment"></i></a>
                                </div>
                            </li>
                            {{/ifeq}}
                            {{/each}}
                        </ol>
                    </div>
                    <div class="container col">
                        <h2 style="display:flex;justify-content: space-between;">
                            <span>Miracles</span>
                            <i class="fas fa-plus itemAdder" data-item-type="divineMiracle"></i>
                        </h2>
                        <ol class="item-list">
                            {{#each actor.items as |item id|}}
                            {{#ifeq item.type "divineMiracle"}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <h4 class="item-name">
                                    {{item.name}}
                                    <span class="item-tags">
                                    {{#if item.data.instant}}
                                        <a title="Instant"><i class="fas fa-bolt"></i></a>
                                    {{/if}}
                                    {{#if item.data.onTurn}}
                                        <a title="On Turn"><i class="fas fa-redo-alt"></i></a>
                                    {{/if}}
                                    {{#if item.data.action}}
                                        <a title="Action"><i class="fas fa-hourglass-end"></i></a>
                                    {{/if}}
                                    {{#if item.data.smite}}
                                        <a title="Smite"><i class="fas fa-meteor"></i></a>
                                    {{/if}}
                                    </span>
                                </h4>
                                <div class="item-controls">
                                    <a class="item-control item-day-effort" title="Commit Effort for Day"><i class="fas fa-sun"></i></a>
                                </div>
                            </li>
                            {{/ifeq}}
                            {{/each}}
                        </ol>
                    </div>
                </div>
                <div class="container col" style="width:50%;">
                    <h2 style="display:flex;justify-content: space-between;">
                        <span>Gifts</span>
                        <i class="fas fa-plus itemAdder" data-item-type="divineGift"></i>
                    </h2>
                    <ol class="item-list">
                        {{#each actor.items as |item id|}}
                        {{#ifeq item.type "divineGift"}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name">
                                {{#if item.data.greater}}
                                <span style="font-style: italic">{{item.name}}</span>
                                {{/if}}
                                {{#unless item.data.greater}}
                                {{item.name}}
                                {{/unless}}
                                <span class="item-tags">
                                {{#if item.data.instant}}
                                    <a title="Instant"><i class="fas fa-bolt"></i></a>
                                {{/if}}
                                {{#if item.data.onTurn}}
                                    <a title="On Turn"><i class="fas fa-redo-alt"></i></a>
                                {{/if}}
                                {{#if item.data.action}}
                                    <a title="Action"><i class="fas fa-hourglass-end"></i></a>
                                {{/if}}
                                {{#if item.data.smite}}
                                    <a title="Smite"><i class="fas fa-meteor"></i></a>
                                {{/if}}
                                </span>
                            </h4>
                            <div class="item-controls">
                                {{#if item.data.constant}}
                                <a class="item-control item-chat" title="Constant Effect"><i class="fas fa-infinity"></i></a>
                                {{/if}}
                                {{#if item.data.noEffort}}
                                <a class="item-control item-chat" title="Effortless Effect"><i class="far fa-play-circle"></i></a>
                                {{/if}}
                                {{#if item.data.atWill}}
                                <a class="item-control item-atWill-effort" title="Commit Effort At Will"><i class="fas fa-power-off"></i></a>
                                {{/if}}
                                {{#if item.data.scene}}
                                <a class="item-control item-scene-effort" title="Commit Effort for Scene"><i class="fas fa-clock"></i></a>
                                {{/if}}
                                {{#if item.data.day}}
                                <a class="item-control item-day-effort" title="Commit Effort for Day"><i class="fas fa-sun"></i></a>
                                {{/if}}
                            </div>
                        </li>
                        {{/ifeq}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>

        <div class="tab notes" data-group="primary" data-tab="notes">
            <div class="container col">
                <div>
                    <h3>Facts:</h3>
                    <textarea name="data.facts" style="height:128px;font-size:14px">{{data.facts}}</textarea>
                </div>
                <div>
                    <h3>Notes:</h3>
                    <textarea name="data.notes" style="height:128px;font-size:14px">{{data.notes}}</textarea>
                </div>
            </div>
        </div>

        <div class="tab combat" data-group="primary" data-tab="combat">
            <div class="container col">
                <h2>
                    Armor AC {{data.ac}}
                </h2>
            </div>
            <div class="container row" style="margin-top:32px;">
                <div class="container col" style="width:50%;">
                    <div class="container col">
                        <h2 style="display:flex;justify-content: space-between;">
                            <span>Attacks</span>
                            <i class="fas fa-plus itemAdder" data-item-type="attack"></i>
                        </h2>
                        <ol class="item-list">
                            {{#each actor.items as |item id|}}
                            {{#ifeq item.type "attack"}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <h4 class="item-name">
                                    {{#if item.data.magic}}
                                    {{item.name}}*
                                    {{/if}}
                                    {{#unless item.data.magic}}
                                    {{item.name}}
                                    {{/unless}}
                                    <span class="item-tags">
                                    {{#ifneq item.data.hitBonus 0}}
                                        +{{item.data.hitBonus}}
                                    {{/ifneq}}
                                    {{#ifneq item.data.damageBonus 0}}
                                        {{item.data.damageRoll}}+{{item.data.damageBonus}}
                                    {{/ifneq}}
                                    {{#ifeq item.data.damageBonus 0}}
                                        {{item.data.damageRoll}}
                                    {{/ifeq}}
                                    </span>
                                </h4>
                                <div class="item-controls">
                                    <a class="attack-roll" title="Roll"><i class="fas fa-dice-d20"></i></a>
                                </div>
                            </li>
                            {{/ifeq}}
                            {{/each}}
                        </ol>
                        <div>
                            <label for="toHitBonus">To Hit Bonus:</label>
                            <input id="toHitBonus" name="data.toHitBonus" value="{{data.toHitBonus}}" type="text" data-dtype="Number" class="compact" style="margin-left:8px;" />
                        </div>
                    </div>

                    <div class="container col" style="margin-top:32px;">
                        <h2 style="display:flex;justify-content: space-between;">
                            <span>Auto Attacks</span>
                            <i class="fas fa-plus itemAdder" data-item-type="autoHitAttack"></i>
                        </h2>
                        <ol class="item-list">
                            {{#each actor.items as |item id|}}
                            {{#ifeq item.type "autoHitAttack"}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <h4 class="item-name">
                                    {{item.name}}
                                    <span class="item-tags">
                                    {{#ifneq item.data.damageBonus 0}}
                                        {{item.data.damageRoll}}+{{item.data.damageBonus}}
                                    {{/ifneq}}

                                    {{#ifeq item.data.damageBonus 0}}
                                        {{item.data.damageRoll}}
                                    {{/ifeq}}
                                    </span>
                                </h4>
                                <div class="item-controls">
                                    <a class="autoattack-roll" title="Roll"><i class="fas fa-dice-d20"></i></a>
                                </div>
                            </li>
                            {{/ifeq}}
                            {{/each}}
                        </ol>
                    </div>

                    <div class="container col" style="margin-top:32px;">
                        <h2 style="display:flex;justify-content: space-between;">
                            <span>HD</span>
                        </h2>
                        <div style="display:flex;justify-content: space-between">
                            <h3>
                                HD: {{actor.data.hd.current}}
                            </h3>
                            <div>
                                <input class="compact" id="hdadjust" />
                                <input type="button" class="compact" id="hddmg" value="Damage" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container col" style="width:50%;">
                    <div class="container col">
                        <h2 style="display:flex;justify-content: space-between;">
                            <span>Combat Powers</span>
                        </h2>
                        <ol class="item-list">
                            {{#each actor.items as |item id|}}
                            {{#ifcombatpower ../actor._id item._id}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <h4 class="item-name">
                                    {{#if item.data.greater}}
                                    <span style="font-style: italic">{{item.name}}</span>
                                    {{/if}}
                                    {{#unless item.data.greater}}
                                    {{item.name}}
                                    {{/unless}}
                                    <span class="item-tags">
                                {{#if item.data.instant}}
                                    <a title="Instant"><i class="fas fa-bolt"></i></a>
                                {{/if}}
                                {{#if item.data.onTurn}}
                                    <a title="On Turn"><i class="fas fa-redo-alt"></i></a>
                                {{/if}}
                                {{#if item.data.action}}
                                    <a title="Action"><i class="fas fa-hourglass-end"></i></a>
                                {{/if}}
                                {{#if item.data.smite}}
                                    <a title="Smite"><i class="fas fa-meteor"></i></a>
                                {{/if}}
                                </span>
                                </h4>
                                <div class="item-controls">
                                    {{#ifeq item.type "divineMiracle"}}
                                    <a class="item-control item-day-effort" title="Commit Effort for Day"><i class="fas fa-sun"></i></a>
                                    {{/ifeq}}
                                    {{#if (or (eq item.type "divineGift") (eq item.type "artifactPower"))}}
                                    {{#if item.data.constant}}
                                    <a class="item-control item-chat" title="Constant Effect"><i class="fas fa-infinity"></i></a>
                                    {{/if}}
                                    {{#if item.data.noEffort}}
                                    <a class="item-control item-chat" title="Effortless Effect"><i class="far fa-play-circle"></i></a>
                                    {{/if}}
                                    {{#if item.data.atWill}}
                                    <a class="item-control item-atWill-effort" title="Commit Effort At Will"><i class="fas fa-power-off"></i></a>
                                    {{/if}}
                                    {{#if item.data.scene}}
                                    <a class="item-control item-scene-effort" title="Commit Effort for Scene"><i class="fas fa-clock"></i></a>
                                    {{/if}}
                                    {{#if item.data.day}}
                                    <a class="item-control item-day-effort" title="Commit Effort for Day"><i class="fas fa-sun"></i></a>
                                    {{/if}}
                                    {{/if}}
                                </div>
                            </li>
                            {{/ifcombatpower}}
                            {{/each}}
                        </ol>
                        <h3>Free Effort: {{data.computed.effort.available}}</h3>
                    </div>

                    <div class="container col" style="margin-top: 32px;">
                        <h2 style="display:flex;justify-content: space-between;">
                            <span>Tactics</span>
                            <i class="fas fa-plus itemAdder" data-item-type="tactic"></i>
                        </h2>
                        <ol class="item-list">
                            {{#each actor.items as |item id|}}
                            {{#ifeq item.type "tactic"}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <h4 class="item-name">
                                    {{item.name}}
                                </h4>
                            </li>
                            {{/ifeq}}
                            {{/each}}
                        </ol>
                        <input type="button" id="chooseTactic" value="Choose Tactic" />
                        <h4 id="chosenTactic">
                            <span id="chosenTactic-name"></span>
                            <span id="chosenTactic-desc"></span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

