<form class="{{cssClass}}" autocomplete="off" style="overflow-y:scroll;">

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="attrs">Attrs</a>
        <a class="item" data-tab="divine">Divine</a>
        <a class="item" data-tab="combat">Combat</a>
        <a class="item" data-tab="wealth">Wealth</a>
        <a class="item" data-tab="artifacts">Artifacts</a>
        <a class="item" data-tab="projects">Projects</a>
        <a class="item" data-tab="notes" style="flex-grow:2">Facts & Notes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab attrs" data-group="primary" data-tab="attrs">
            <div class="container col">

                <div class="container row sheet-header">
                    <div class="header-fields tabular">
                        <div>
                            <label for="name">Name:</label> <input id="name" name="name" type="text" value="{{actor.name}}"/>
                        </div>
                        <div>
                            <label for="description">Description:</label> <textarea id="description" name="data.description">{{data.description}}</textarea>
                        </div>
                        <div>
                            <label for="languages">Languages:</label> <input id="languages" name="data.languages" type="text" value="{{data.languages}}"/>
                        </div>
                        <div>
                            <label for="goal">Goals:</label> <textarea id="goal" name="data.goal">{{data.goal}}</textarea>
                        </div>
                        <div>
                            <label for="level">Level:</label>
                            <div>
                                <input id="level" name="data.level" type="text" value="{{data.level}}" class="shares"/>
                                <label for="xp" style="padding-left:16px">XP:</label>
                                <input id="xp" name="data.xp" type="text" value="{{data.xp}}" class="shares"/>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>
                    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
                         width="100"/>
                </div>

                <div class="container row">
                    <div class="container col">
                        <div>
                            <h3>Attributes</h3>
                            <table class="headered">
                                <thead>
                                <tr>
                                    <td></td>
                                    <td>Score</td>
                                    <td>Mod</td>
                                    <td>Check</td>
                                    <td>Roll</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Str</td>
                                    <td><input type="text" name="data.attributes.str.score" value="{{data.attributes.str.score}}" data-dtype="Number" /></td>
                                    <td>{{data.computed.attributes.str.mod}}</td>
                                    <td>{{data.computed.attributes.str.check}}</td>
                                    <td><a class="attr-roll" title="Roll" data-attr="str"><i class="fas fa-dice-d20"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Dex</td>
                                    <td><input type="text" name="data.attributes.dex.score" value="{{data.attributes.dex.score}}" data-dtype="Number" /></td>
                                    <td>{{data.computed.attributes.dex.mod}}</td>
                                    <td>{{data.computed.attributes.dex.check}}</td>
                                    <td><a class="attr-roll" title="Roll" data-attr="dex"><i class="fas fa-dice-d20"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Con</td>
                                    <td><input type="text" name="data.attributes.con.score" value="{{data.attributes.con.score}}" data-dtype="Number" /></td>
                                    <td>{{data.computed.attributes.con.mod}}</td>
                                    <td>{{data.computed.attributes.con.check}}</td>
                                    <td><a class="attr-roll" title="Roll" data-attr="con"><i class="fas fa-dice-d20"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Int</td>
                                    <td><input type="text" name="data.attributes.int.score" value="{{data.attributes.int.score}}" data-dtype="Number" /></td>
                                    <td>{{data.computed.attributes.int.mod}}</td>
                                    <td>{{data.computed.attributes.int.check}}</td>
                                    <td><a class="attr-roll" title="Roll" data-attr="int"><i class="fas fa-dice-d20"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Wis</td>
                                    <td><input type="text" name="data.attributes.wis.score" value="{{data.attributes.wis.score}}" data-dtype="Number" /></td>
                                    <td>{{data.computed.attributes.wis.mod}}</td>
                                    <td>{{data.computed.attributes.wis.check}}</td>
                                    <td><a class="attr-roll" title="Roll" data-attr="wis"><i class="fas fa-dice-d20"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Cha</td>
                                    <td><input type="text" name="data.attributes.cha.score" value="{{data.attributes.cha.score}}" data-dtype="Number" /></td>
                                    <td>{{data.computed.attributes.cha.mod}}</td>
                                    <td>{{data.computed.attributes.cha.check}}</td>
                                    <td><a class="attr-roll" title="Roll" data-attr="cha"><i class="fas fa-dice-d20"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="container col">
                        <div>
                            <h3>Saving Throws</h3>
                            <table class="headered">
                                <thead>
                                <tr>
                                    <td></td>
                                    <td>Base</td>
                                    <td>Bonus</td>
                                    <td>Penalty</td>
                                    <td>Roll</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Hardiness</td>
                                    <td>{{data.computed.saves.hardiness.base}}</td>
                                    <td><input type="text" name="data.saves.hardiness.bonus" value="{{data.saves.hardiness.bonus}}" data-dtype="Number" /></td>
                                    <td>{{data.computed.saves.hardiness.penalty}}</td>
                                    <td><a class="save-roll" title="Roll" data-save="hardiness"><i class="fas fa-dice-d20"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Evasion</td>
                                    <td>{{data.computed.saves.evasion.base}}</td>
                                    <td><input type="text" name="data.saves.evasion.bonus" value="{{data.saves.evasion.bonus}}" data-dtype="Number" /></td>
                                    <td>{{data.computed.saves.evasion.penalty}}</td>
                                    <td><a class="save-roll" title="Roll" data-save="evasion"><i class="fas fa-dice-d20"></i></a></td>
                                </tr>
                                <tr>
                                    <td>Spirit</td>
                                    <td>{{data.computed.saves.spirit.base}}</td>
                                    <td><input type="text" name="data.saves.spirit.bonus" value="{{data.saves.spirit.bonus}}" data-dtype="Number" /></td>
                                    <td>{{data.computed.saves.spirit.penalty}}</td>
                                    <td><a class="save-roll" title="Roll" data-save="spirit"><i class="fas fa-dice-d20"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <h3>Defense</h3>
                            <table>
                                <tbody>
                                <tr>
                                    <td style="width:30%">Current HP</td>
                                    <td style="width:20%"><input type="text" name="data.hp.current" value="{{data.hp.current}}" data-dtype="Number" /></td>
                                    <td style="width:10%">AC</td>
                                    <td>{{data.computed.armor.ac}}</td>
                                </tr>
                                <tr>
                                    <td>Bonus HP</td>
                                    <td colspan="3"><input type="text" name="data.hp.bonus" value="{{data.hp.bonus}}" data-dtype="Number" /></td>
                                </tr>
                                <tr>
                                    <td>Max HP</td>
                                    <td colspan="3" style="padding-left: 4px;">{{data.computed.hp.max}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="tab divine" data-group="primary" data-tab="divine">
            <div class="container col" style="padding-bottom: 16px;">
                <h2>Resources</h2>
                <table class="headered">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Total</td>
                            <td>Committed</td>
                            <td>Free</td>
                            <td>Income</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Effort</td>
                            <td><input type="text" data-dtype="Number" name="data.effort.total" value="{{data.effort.total}}" /></td>
                            <td>{{data.computed.effort.spent}}</td>
                            <td>{{data.computed.effort.available}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Influence</td>
                            <td><input type="text" data-dtype="Number" name="data.influence.total" value="{{data.influence.total}}" /></td>
                            <td><input type="text" data-dtype="Number" name="data.influence.spent" value="{{data.influence.spent}}" /></td>
                            <td>{{data.computed.influence.available}}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Dominion</td>
                            <td><input type="text" data-dtype="Number" name="data.dominion.total" value="{{data.dominion.total}}" /></td>
                            <td><input type="text" data-dtype="Number" name="data.dominion.spent" value="{{data.dominion.spent}}" /></td>
                            <td>{{data.computed.dominion.available}}</td>
                            <td><input type="text" data-dtype="Number" name="data.dominion.income" value="{{data.dominion.income}}" /></td>
                        </tr>
                    </tbody>
                </table>
                <div class="container row" style="margin-left: auto; margin-right: auto;font-size: 16px;">
                    <div>
                        <span style="padding-right: 4px;">At Will:</span>
                        <i class="fas fa-minus effortSpend" data-effort-category="atWill" data-effort-change="-1"></i>
                        {{data.effort.atWill}}
                        <i class="fas fa-plus effortSpend" data-effort-category="atWill" data-effort-change="1"></i>
                    </div>
                    <div style="margin-left: 32px;">
                        <span style="padding-right: 4px;">Scene:</span>
                        <i class="fas fa-minus effortSpend" data-effort-category="scene" data-effort-change="-1"></i>
                        {{data.effort.scene}}
                        <i class="fas fa-plus effortSpend" data-effort-category="scene" data-effort-change="1"></i>
                    </div>
                    <div style="margin-left: 32px;">
                        <span style="padding-right: 4px;">Day:</span>
                        <i class="fas fa-minus effortSpend" data-effort-category="day" data-effort-change="-1"></i>
                        {{data.effort.day}}
                        <i class="fas fa-plus effortSpend" data-effort-category="day" data-effort-change="1"></i>
                    </div>
                </div>
            </div>
            <div class="container row" style="margin-top: 24px;">
                <div class="container col" style="width:50%;">
                    <div class="container col">
                        <h2 style="display:flex;justify-content: space-between;">
                            <span>Words</span>
                            <i class="fas fa-plus itemAdder" data-item-type="boundWord"></i>
                        </h2>
                        <ol class="item-list">
                            {{#each actor.items as |item id|}}
                            {{#ifeq item.type "boundWord"}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <h4 class="item-name">{{item.name}}</h4>
                                <div class="item-controls">
                                    <a class="item-control item-chat" title="Chat Effect"><i class="fas fa-comment"></i></a>
                                </div>
                            </li>
                            {{/ifeq}}
                            {{/each}}
                        </ol>
                    </div>
                    <div class="container col">
                        <h2 style="display:flex;justify-content: space-between;">
                            <span>Miracles</span>
                            <i class="fas fa-plus itemAdder" data-item-type="divineMiracle"></i>
                        </h2>
                        <ol class="item-list">
                            {{#each actor.items as |item id|}}
                            {{#ifeq item.type "divineMiracle"}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <h4 class="item-name">{{item.name}}</h4>
                                <div class="item-controls">
                                    <a class="item-control item-day-effort" title="Commit Effort for Day"><i class="fas fa-sun"></i></a>
                                </div>
                            </li>
                            {{/ifeq}}
                            {{/each}}
                        </ol>
                    </div>
                </div>
                <div class="container col" style="width:50%;">
                    <h2 style="display:flex;justify-content: space-between;">
                        <span>Gifts</span>
                        <i class="fas fa-plus itemAdder" data-item-type="divineGift"></i>
                    </h2>
                    <ol class="item-list">
                        {{#each actor.items as |item id|}}
                        {{#ifeq item.type "divineGift"}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name">
                                {{#if item.data.greater}}
                                    <span style="font-style: italic">{{item.name}}</span>
                                {{/if}}
                                {{#unless item.data.greater}}
                                    {{item.name}}
                                {{/unless}}
                                <span class="item-tags">
                                {{#if item.data.constant}}
                                Const
                                {{/if}}
                                {{#if item.data.instant}}
                                Inst
                                {{/if}}
                                {{#if item.data.onTurn}}
                                OnTurn
                                {{/if}}
                                {{#if item.data.action}}
                                Actn
                                {{/if}}
                                {{#if item.data.smite}}
                                Sm
                                {{/if}}
                                </span>
                            </h4>
                            <div class="item-controls">
                                {{#if item.data.atWill}}
                                <a class="item-control item-atWill-effort" title="Commit Effort At Will"><i class="fas fa-stopwatch"></i></a>
                                {{/if}}
                                {{#if item.data.scene}}
                                <a class="item-control item-scene-effort" title="Commit Effort for Scene"><i class="fas fa-clock"></i></a>
                                {{/if}}
                                {{#if item.data.day}}
                                <a class="item-control item-day-effort" title="Commit Effort for Day"><i class="fas fa-sun"></i></a>
                                {{/if}}
                                {{#if (or item.data.constant item.data.noEffort)}}
                                <a class="item-control item-chat" title="Chat Effect"><i class="fas fa-comment"></i></a>
                                {{/if}}
                            </div>
                        </li>
                        {{/ifeq}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>

        <div class="tab notes" data-group="primary" data-tab="notes">
            <div class="container col">
                <div>
                    <h3>Facts:</h3>
                    <textarea name="data.facts" style="height:128px;font-size:14px">{{data.facts}}</textarea>
                </div>
                <div>
                    <h3>Notes:</h3>
                    <textarea name="data.notes" style="height:128px;font-size:14px">{{data.notes}}</textarea>
                </div>
            </div>
        </div>

        <div class="tab combat" data-group="primary" data-tab="combat">
            <div class="container col">
                <h2>
                    Armor
                </h2>
                <select name="data.armor.type" id="armorType">
                    {{#select data.armor.type}}
                    <option value="none">None AC 9(skin or clothing)</option>
                    <option value="light">Light AC 7 (leathers or hides)</option>
                    <option value="medium">Medium AC 5 (mail or lt plate; -4 to 1 save)</option>
                    <option value="heavy">Heavy AC 3 (hvy plate; -4 to 2 saves)</option>
                    <option value="divine">Divine Gift AC 3)</option>
                    {{/select}}
                </select>
                <div style="display:flex;align-items:center;justify-content: flex-start">
                    <input id="armorShield" type="checkbox" name="data.armor.shield" {{checked data.armor.shield}} style="margin-right:0" />
                    <label for="armorShield">Shield</label>

                    <select name="data.armor.attribute" id="armorAttribute"  style="margin-left:16px" >
                        {{#select data.armor.attribute}}
                        <option value="str">Str</option>
                        <option value="dex">Dex</option>
                        <option value="con">Con</option>
                        <option value="int">Int</option>
                        <option value="wis">Wis</option>
                        <option value="cha">Cha</option>
                        {{/select}}
                    </select>

                    <label for="armorBonus"  style="margin-left:16px" >Bonus</label>
                    <input id="armorBonus" type="text" name="data.armor.bonus" value="{{data.armor.bonus}}" data-dtype="Number" class="compact" style="margin-left:4px;"/>

                    <label  style="margin-left:16px;margin-right:4px;font-weight:bold;" >AC</label> <span style="font-weight:bold">{{data.computed.armor.ac}}</span>

                    <input id="penalizeHardiness" type="checkbox" name="data.armor.penalizeHardiness" {{checked data.armor.penalizeHardiness}} style="margin-left:32px;margin-right:0" />
                    <label for="penalizeHardiness">-Hardiness</label>
                    <input id="penalizeEvasion" type="checkbox" name="data.armor.penalizeEvasion" {{checked data.armor.penalizeEvasion}} style="margin-left:16px;margin-right:0" />
                    <label for="penalizeEvasion">-Evasion</label>
                    <input id="penalizeSpirit" type="checkbox" name="data.armor.penalizeSpirit" {{checked data.armor.penalizeSpirit}} style="margin-left:16px;margin-right:0" />
                    <label for="penalizeSpirit">-Spirit</label>

                </div>
            </div>
            <div class="container row" style="margin-top:32px;">
                <div class="container col" style="width:50%;">
                    <div class="container col">
                        <h2 style="display:flex;justify-content: space-between;">
                            <span>Attacks</span>
                            <i class="fas fa-plus itemAdder" data-item-type="attack"></i>
                        </h2>
                        <ol class="item-list">
                            {{#each actor.items as |item id|}}
                            {{#ifeq item.type "attack"}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <h4 class="item-name">
                                    {{#if item.data.magic}}
                                    {{item.name}}*
                                    {{/if}}
                                    {{#unless item.data.magic}}
                                    {{item.name}}
                                    {{/unless}}
                                    {{#ifneq item.data.hitBonus 0}}
                                    +{{item.data.hitBonus}},
                                    {{/ifneq}}
                                    {{#ifneq item.data.damageBonus 0}}
                                    {{item.data.damageRoll}}+{{item.data.damageBonus}},
                                    {{/ifneq}}
                                    {{#ifeq item.data.damageBonus 0}}
                                    {{item.data.damageRoll}}
                                    {{/ifeq}}
                                </h4>
                                <div class="item-controls">
                                    <a class="attack-roll" title="Roll"><i class="fas fa-dice-d20"></i></a>
                                </div>
                            </li>
                            {{/ifeq}}
                            {{/each}}
                        </ol>
                        <div>
                            <label for="toHitBonus">To Hit Bonus:</label>
                            <input id="toHitBonus" name="data.toHitBonus" value="{{data.toHitBonus}}" type="text" data-dtype="Number" class="compact" style="margin-left:8px;" />
                        </div>
                    </div>

                    <div class="container col">
                        <h2 style="display:flex;justify-content: space-between;">
                            <span>Auto Attacks</span>
                            <i class="fas fa-plus itemAdder" data-item-type="autoHitAttack"></i>
                        </h2>
                        <ol class="item-list">
                            {{#each actor.items as |item id|}}
                            {{#ifeq item.type "autoHitAttack"}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <h4 class="item-name">
                                    {{item.name}}

                                    {{#ifneq item.data.damageBonus 0}}
                                        {{item.data.damageRoll}}+{{item.data.damageBonus}}
                                    {{/ifneq}}

                                    {{#ifeq item.data.damageBonus 0}}
                                        {{item.data.damageRoll}}
                                    {{/ifeq}}
                                </h4>
                                <div class="item-controls">
                                    <a class="autoattack-roll" title="Roll"><i class="fas fa-dice-d20"></i></a>
                                </div>
                            </li>
                            {{/ifeq}}
                            {{/each}}
                        </ol>
                    </div>
                </div>

                <div class="container col" style="width:50%;">
                    <h2 style="display:flex;justify-content: space-between;">
                        <span>Combat Powers</span>
                    </h2>
                    <ol class="item-list">
                        {{#each actor.items as |item id|}}
                        {{#if item.data.combatPower}}
                        <li class="item flexrow" data-item-id="{{item._id}}">
                            <h4 class="item-name">
                                {{item.name}}
                                <span class="item-tags">
                                {{#if item.data.greater}}
                                Gr
                                {{/if}}
                                {{#if item.data.constant}}
                                C
                                {{/if}}
                                {{#if item.data.instant}}
                                I
                                {{/if}}
                                {{#if item.data.onTurn}}
                                T
                                {{/if}}
                                {{#if item.data.action}}
                                A
                                {{/if}}
                                {{#if item.data.smite}}
                                Sm
                                {{/if}}
                                </span>
                            </h4>
                            <div class="item-controls">
                                {{#ifeq item.type "divineMiracle"}}
                                    <a class="item-control item-day-effort" title="Commit Effort for Day"><i class="fas fa-sun"></i></a>
                                {{/ifeq}}
                                {{#ifeq item.type "divineGift"}}
                                    {{#if item.data.atWill}}
                                    <a class="item-control item-atWill-effort" title="Commit Effort At Will"><i class="fas fa-stopwatch"></i></a>
                                    {{/if}}
                                    {{#if item.data.scene}}
                                    <a class="item-control item-scene-effort" title="Commit Effort for Scene"><i class="fas fa-clock"></i></a>
                                    {{/if}}
                                    {{#if item.data.day}}
                                    <a class="item-control item-day-effort" title="Commit Effort for Day"><i class="fas fa-sun"></i></a>
                                    {{/if}}
                                {{/ifeq}}
                                <a class="item-control item-chat" title="Chat Description"><i class="fas fa-comment"></i></a>
                            </div>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ol>
                    <h3>Free Effort: {{data.computed.effort.available}}</h3>
                </div>

            </div>
        </div>

        <div class="tab wealth" data-group="primary" data-tab="wealth">
            <div class="container col" style="margin-bottom:32px;">
                <h2>Wealth</h2>
                <div class="tabular">
                    <div>
                        <label for="wealthTotal">Wealth Total:</label>
                        <div>
                            <input id="wealthTotal" name="data.wealth.total" value="{{data.wealth.total}}" type="text" data-dtype="Number" class="compact" />
                        </div>
                    </div>
                    <div>
                        <label for="wealthDescription">Description:</label>
                        <textarea id="wealthDescription" name="data.wealth.description">{{data.wealth.description}}</textarea>
                    </div>
                </div>
            </div>
            <div class="container col">
                <h2 style="display:flex;justify-content: space-between;">
                    <span>Treasure</span>
                    <i class="fas fa-plus itemAdder" data-item-type="treasure"></i>
                </h2>
                <ol class="item-list">
                    {{#each actor.items as |item id|}}
                    {{#ifeq item.type "treasure"}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <h4 class="item-name">{{item.name}} (Value {{item.data.value}})</h4>
                        <div class="item-controls">
                            <a class="item-control item-chat" title="Chat Description"><i class="fas fa-comment"></i></a>
                        </div>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ol>
            </div>
        </div>

        <div class="tab artifacts" data-group="primary" data-tab="artifacts">
            <div class="container col">
                <h2 style="display:flex;justify-content: space-between;">
                    <span>Artifacts</span>
                    <i class="fas fa-plus itemAdder" data-item-type="artifact"></i>
                </h2>
                <ol class="item-list">
                    {{#each data.computed.artifacts as |artifact id|}}
                    <li class="item flexrow" data-item-id="{{artifact.item._id}}">
                        <h4 class="item-name">
                            {{artifact.item.name}} (Effort {{artifact.item.data.computed.effort.available}})
                            <span class="item-tags">
                            {{#if artifact.item.data.bound}}
                                Bound
                            {{/if}}
                            </span>
                        </h4>
                        <div class="item-controls">
                            <a class="item-control item-day-effort" title="Commit Effort for Day"><i class="fas fa-sun"></i></a>
                        </div>
                    </li>
                    {{#if artifact.item.data.bound}}
                        {{#each artifact.artifactPowers as |power id|}}
                        {{#ifeq power.type "artifactPower"}}
                        <li class="item flexrow" data-item-id="{{power._id}}">
                            <h4 class="item-name" style="padding-left:16px;">
                                {{power.name}}
                                <span class="item-tags">
                                {{#if power.data.greater}}
                                Gr
                                {{/if}}
                                {{#if power.data.constant}}
                                C
                                {{/if}}
                                {{#if power.data.instant}}
                                I
                                {{/if}}
                                {{#if power.data.onTurn}}
                                T
                                {{/if}}
                                {{#if power.data.action}}
                                A
                                {{/if}}
                                {{#if power.data.smite}}
                                Sm
                                {{/if}}
                                </span>
                            </h4>
                            <div class="item-controls">
                                {{#if power.data.atWill}}
                                <a class="item-control item-atWill-effort" title="Commit Effort At Will"><i class="fas fa-stopwatch"></i></a>
                                {{/if}}
                                {{#if power.data.scene}}
                                <a class="item-control item-scene-effort" title="Commit Effort for Scene"><i class="fas fa-clock"></i></a>
                                {{/if}}
                                {{#if power.data.day}}
                                <a class="item-control item-day-effort" title="Commit Effort for Day"><i class="fas fa-sun"></i></a>
                                {{/if}}
                                <a class="item-control item-chat" title="Chat Effect"><i class="fas fa-comment"></i></a>
                            </div>
                        </li>
                        {{/ifeq}}
                        {{/each}}
                    {{/if}}
                    {{/each}}
                </ol>
                <h3>Free Effort: {{data.computed.effort.available}}</h3>
            </div>
        </div>

        <div class="tab projects" data-group="primary" data-tab="projects">
            <div class="container col">
                <h2 style="display:flex;justify-content: space-between;">
                    <span>Projects</span>
                    <i class="fas fa-plus itemAdder" data-item-type="project"></i>
                </h2>
                <ol class="item-list">
                    {{#each actor.items as |item id|}}
                    {{#ifeq item.type "project"}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <h4 class="item-name">
                            {{item.name}}
                            <span class="item-tags">
                                {{#if item.data.completed}}
                                    Completed
                                {{/if}}
                                {{#unless item.data.completed}}
                                    In Progress
                                {{/unless}}
                            </span>
                        </h4>
                        <div class="item-controls">
                            <a class="item-control item-chat" title="Chat Description"><i class="fas fa-comment"></i></a>
                        </div>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ol>
            </div>
            <div class="container col" style="margin-top:32px;">
                <h2 style="display:flex;justify-content: space-between;">
                    <span>Cult</span>
                    <i class="fas fa-plus itemAdder" data-item-type="cult"></i>
                </h2>
                <ol class="item-list">
                    {{#each actor.items as |item id|}}
                    {{#ifeq item.type "cult"}}
                    <li class="item flexrow" data-item-id="{{item._id}}">
                        <h4 class="item-name">
                            {{item.name}}
                            <span class="item-tags">
                            </span>
                        </h4>
                        <div class="item-controls">
                            <a class="item-control item-chat" title="Chat Description"><i class="fas fa-comment"></i></a>
                        </div>
                    </li>
                    {{/ifeq}}
                    {{/each}}
                </ol>
            </div>
        </div>
    </section>
</form>

