<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attrs active" data-group="primary" data-tab="attrs">
            <div class="container col">
                <h2>Auto-Hit Attack</h2>
                <div class="container row sheet-header">
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100"
                         width="100"/>
                    <div class="header-fields tabular">
                        <div>
                            <label for="name">Name:</label>
                            <input id="name" name="name" type="text" value="{{item.name}}"/>
                        </div>
                        <div>
                            <label for="damageRoll">Damage:</label>
                            <div style="display: flex; align-items: center">
                                <select name="data.damageRoll" id="damageRoll" >
                                    {{#select item.data.data.damageRoll}}
                                    <option value="1d4">1d4</option>
                                    <option value="1d6">1d6</option>
                                    <option value="1d8">1d8</option>
                                    <option value="1d10">1d10</option>
                                    <option value="1d12">1d12</option>
                                    <option value="1d20">1d20</option>
                                    {{/select}}
                                </select>
                                +
                                <input id="damageBonus" name="data.damageBonus" type="text" value="{{item.data.data.damageBonus}}" data-dtype="Number" class="compact"/>
                            </div>
                        </div>
                        <div>
                            <label></label>
                            <div style="display: flex; align-items: center">
                                <input type="checkbox" name="data.magic" {{checked data.data.magic}} style="margin-left:0" />Magic Weapon
                            </div>
                        </div>
                        <div>
                            <label style="vertical-align: center">Actions:</label>
                            <div class="item-controls" style="padding-top:4px;">
                                <a class="item-control item-chat" title="Chat Effect"><i class="fas fa-comment"></i></a>
                                <a class="item-control item-maybe-delete" title="Maybe Delete"><i class="fas fa-trash"></i></a>
                                <a class="item-control item-delete" title="Delete" style="color:red;margin-left:16px;display:none;"><i class="fas fa-trash"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
