<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attrs active" data-group="primary" data-tab="attrs">
            <div class="container col">
                <h2>Weapon</h2>
                <div class="container row sheet-header">
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100"
                         width="100"/>
                    <div class="header-fields tabular">
                        <div>
                            <label for="name">Name:</label>
                            <input id="name" name="name" type="text" value="{{item.name}}"/>
                        </div>
                        <div>
                            <label for="type">Type:</label>
                            <select name="data.type" id="type" >
                                {{#select item.data.type}}
                                <option value="hand">Hand</option>
                                <option value="heavy">Heavy</option>
                                <option value="light">Light</option>
                                <option value="long">Long</option>
                                <option value="thrown">Thrown</option>
                                <option value="ranged">Ranged</option>
                                {{/select}}
                            </select>
                        </div>
                        <div>
                            <label for="stat">Stat:</label>
                            <select name="data.stat" id="stat" >
                                {{#select item.data.stat}}
                                <option value="brawn">Brawn</option>
                                <option value="wit">Wit</option>
                                <option value="will">Will</option>
                                {{/select}}
                            </select>
                        </div>
                        <div>
                            <label for="range">Range:</label>
                            <select name="data.range" id="range" >
                                {{#select item.data.range}}
                                <option value="melee">Melee</option>
                                <option value="short">Short</option>
                                <option value="long">Long</option>
                                {{/select}}
                            </select>
                        </div>
                        <div>
                            <label for="dmgMod">Dmg:</label>
                            <input id="dmgMod" name="data.dmgMod" type="text" value="{{item.data.dmgMod}}" data-dtype="Number"/>
                        </div>
                        <div>
                            <label for="initiativeMod">Init:</label>
                            <input id="initiativeMod" name="data.initiativeMod" type="text" value="{{item.data.initiativeMod}}" data-dtype="Number"/>
                        </div>
                        <div>
                            <label for="slots">Enc:</label>
                            <input id="slots" name="data.slots" type="text" value="{{item.data.slots}}" data-dtype="Number"/>
                        </div>
                        <div>
                            <label style="vertical-align: center">Actions:</label>
                            <div class="item-controls" style="padding-top:4px;">
                                <a class="item-control item-chat" title="Chat Effect"><i class="fas fa-comment"></i></a>
                                <a class="item-control item-maybe-delete" title="Maybe Delete"><i class="fas fa-trash"></i></a>
                                <a class="item-control item-delete" title="Delete" style="color:red;margin-left:16px;display:none;"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
