<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab attrs active" data-group="primary" data-tab="attrs">
            <div class="container col">
                <h2>Gift</h2>
                <div class="container row sheet-header">
                    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="100"
                         width="100"/>
                    <div class="header-fields tabular">
                        <div>
                            <label for="name">Name:</label>
                            <input id="name" name="name" type="text" value="{{item.name}}"/>
                        </div>
                        <div>
                            <label for="description">Description:</label>
                            <textarea id="description" name="data.description" class="tall">{{data.description}}</textarea>
                        </div>
                        <div>
                            <label>Greater:</label>
                            <div>
                                <input type="checkbox" name="data.greater" {{checked data.greater}} />
                            </div>
                        </div>
                        <div>
                            <label>Activation:</label>
                            <div style="display: flex; align-items: center">
                                <input type="checkbox" name="data.constant" {{checked data.constant}} />Constant
                                <input type="checkbox" name="data.instant" {{checked data.instant}} />Instant
                                <input type="checkbox" name="data.onTurn" {{checked data.onTurn}} />On Turn
                            </div>
                        </div>
                        <div>
                            <label></label>
                            <div style="display: flex; align-items: center">
                                <input type="checkbox" name="data.action" {{checked data.action}} />Action
                                <input type="checkbox" name="data.smite" {{checked data.smite}} />Smite
                            </div>
                        </div>
                        <div>
                            <label>Effort:</label>
                            <div style="display: flex; align-items: center">
                                <input type="checkbox" name="data.round" {{checked data.round}} />Round
                                <input type="checkbox" name="data.scene" {{checked data.scene}} />Scene
                                <input type="checkbox" name="data.day" {{checked data.day}} />Day
                            </div>
                        </div>
                        <div>
                            <label style="vertical-align: center">Actions:</label>
                            <div class="item-controls" style="padding-top:4px;">
                                <a class="item-control item-chat" title="Chat Effect"><i class="fas fa-comment"></i></a>
                                <a class="item-control item-maybe-delete" title="Maybe Delete"><i class="fas fa-trash"></i></a>
                                <a class="item-control item-delete" title="Delete" style="color:red;margin-left:16px;display:none;"><i class="fas fa-trash"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
