.godbound {
  /* Sheet Tabs */
  /* Items List */
}
.godbound i {
  cursor: pointer;
}
.godbound h3 {
  font-size: 16px;
}
.godbound .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.godbound .container.row {
  flex-direction: row;
  align-items: flex-start;
}
.godbound .container.row > * {
  margin-left: 8px;
  margin-right: 8px;
}
.godbound .container.row > *:first-child {
  margin-left: 0;
}
.godbound .container.row > *:last-child {
  margin-right: 0;
}
.godbound .container.col {
  flex-direction: column;
  justify-content: flex-start;
}
.godbound .container.col > * {
  margin-top: 8px;
  margin-bottom: 8px;
}
.godbound .container.col > *:first-child {
  margin-top: 0;
}
.godbound .container.col > *:last-child {
  margin-bottom: 0;
}
.godbound .container > * {
  flex-grow: 1;
  width: auto;
}
.godbound input,
.godbound textarea {
  background: rgba(0, 0, 0, 0.01);
}
.godbound input.shares {
  width: auto;
}
.godbound .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
  background: url('/systems/godbound/assets/parchment.jpg');
}
.godbound form {
  background: inherit;
}
.godbound .tabular {
  display: table;
}
.godbound .tabular > * {
  display: table-row;
}
.godbound .tabular > * > * {
  display: table-cell;
  vertical-align: top;
}
.godbound .tabular > * > *:first-child {
  width: 20%;
  text-align: right;
  padding-right: 8px;
  padding-top: 4px;
}
.godbound .tabular > * > *:last-child {
  width: 100%;
  margin-bottom: 4px;
}
.godbound .tabular > * > div:last-child {
  padding-bottom: 4px;
}
.godbound .sheet-header {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
.godbound .sheet-header .profile-img {
  flex: 0 0 100px;
  flex-grow: 0;
  height: 100px;
  margin-right: 10px;
}
.godbound .sheet-header .header-fields {
  flex: 1;
  height: 100px;
}
.godbound textarea {
  font-family: inherit;
  font-size: inherit;
  height: 50px;
}
.godbound textarea.med {
  height: 90px;
}
.godbound textarea.tall {
  height: 128px;
}
.godbound textarea.xtall {
  height: 340px;
}
.godbound .tabs {
  position: absolute;
  transform: rotate(90deg);
  top: 365px;
  right: -225px;
  width: 435px;
  z-index: -1;
}
.godbound .tabs .item {
  padding: 2px 10px 0;
  margin-left: -5px;
  text-indent: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 80px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.9);
  font-size: 12px;
  filter: brightness(0.9);
  background: url('/systems/godbound/assets/parchment.jpg');
}
.godbound .tabs .item.active {
  text-decoration: underline;
  text-shadow: none;
  filter: brightness(1);
  z-index: 10;
}
.godbound .artifact .tabs {
  width: 150px;
  top: 150px;
  right: -80px;
}
.godbound .sheet-body {
  overflow: hidden;
}
.godbound .sheet-body .tab {
  height: 100%;
}
.godbound .sheet-body table {
  font-size: 14px;
}
.godbound .sheet-body table input {
  width: 24px;
}
.godbound .sheet-body table.headered td {
  text-align: center;
}
.godbound .sheet-body table.headered td:first-child {
  text-align: right;
  padding-right: 0;
}
.godbound .sheet-body table td:first-child {
  text-align: right;
  padding-right: 8px;
}
.godbound .editor,
.godbound .editor-content {
  height: 128px;
  background: rgba(0, 0, 0, 0.01);
}
.godbound .editor {
  border: 1px solid #000;
  border-radius: 3px;
}
.godbound .item-list {
  list-style: none;
  margin: 7px 0;
  padding: 0;
  overflow-y: auto;
}
.godbound .item-list .item {
  height: 30px;
  line-height: 24px;
  padding: 3px 0;
  border-bottom: 1px solid #BBB;
}
.godbound .item-list .item img {
  flex: 0 0 24px;
  margin-right: 5px;
}
.godbound .item-list .item-name {
  margin: 0;
  cursor: pointer;
}
.godbound .item-list .item-tags {
  color: darkred;
}
.godbound .item-list .item-controls {
  flex: 0 0 auto;
}
.godbound input.compact {
  width: 24px;
}
.godbound.chat-block {
  margin: 0;
}
.godbound.chat-block .chat-header {
  height: 46px;
  margin: 4px 0;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  padding: 2px;
  box-shadow: 0 0 2px #fff inset;
}
.godbound.chat-block .chat-header .chat-title {
  margin: 4px 0;
  height: 30px;
  overflow: hidden;
}
.godbound.chat-block .chat-header .chat-title h3 {
  border: none;
  line-height: 34px;
  margin: 0;
  text-indent: 10px;
  font-size: 16px;
  word-break: break-all;
}
.godbound.chat-block .chat-header .chat-img {
  flex: 0 0 42px;
  background-size: cover;
}
.godbound.chat-block .chat-target {
  text-align: right;
  font-style: italic;
  padding: 2px;
}
.godbound.chat-block .chat-details {
  padding: 4px;
  font-size: 13px;
}
.godbound.chat-block .roll-result {
  font-size: 13px;
  text-align: center;
}
.godbound.chat-block .roll-result.roll-success {
  color: #18520b;
}
.godbound.chat-block .roll-result.roll-fail {
  color: #aa0200;
}
.godbound.chat-block .damage-formula-roll,
.godbound.chat-block .instant-auto-save {
  text-decoration: underline;
  cursor: pointer;
  color: darkred;
}
.godbound.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}
.godbound.sheet.item {
  min-width: 460px;
  min-height: 240px;
}
/*# sourceMappingURL=gb.css.map */